<div class="form-box">
    <div class="form-box-title">
      <div>{{title}}</div>
    </div>
    <mat-card>
      <form [formGroup]="userRegisterForm" #formDirective="ngForm" (ngSubmit)="onUserSubmit(formDirective)" *ngIf="!loading">
        <div class="flex">          
          <mat-form-field >
            <mat-icon class="icon-pattern" matPrefix>person</mat-icon>
            <input matInput formControlName="name" type="text" placeholder="Nome completo">
          </mat-form-field>
        </div>
      
        <div  class="flex">          
          <mat-form-field >
            <mat-icon class="icon-pattern" matPrefix>email</mat-icon>
            <input matInput formControlName="email" type="text" placeholder="E-mail">
          </mat-form-field>
        </div>

        <div class="flex" *ngIf="submitToCreate">
          
          <mat-form-field>
            <mat-icon class="icon-pattern" matPrefix>lock</mat-icon>
            <input matInput formControlName="password" type="password" placeholder="Senha" required>
            <mat-error *ngIf="userRegisterForm.get('password').errors && userRegisterForm.get('password').touched">{{userRegisterForm.get('password').errors.message}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-icon class="icon-pattern" matPrefix>lock</mat-icon>
            <input matInput formControlName="repeatPassword" type="password" placeholder="Repetir senha" required>
            <mat-error *ngIf="userRegisterForm.get('repeatPassword').errors && userRegisterForm.get('repeatPassword').touched">{{userRegisterForm.get('repeatPassword').errors.message}}</mat-error>
          </mat-form-field>
        </div>


        <div class="form-pattern" id="profile-checkboxes">
          <div class="form-pattern-checkbox-area">
            <mat-icon class="mat-18 icon-pattern">group</mat-icon>
            <span class="form-pattern-checkbox-title">Perfis vinculados</span>
          </div>
  
          <div class="form-pattern-checkbox-iteration">
            <div class="flex" *ngFor="let profile of profileArray" >
              <mat-checkbox [value]="profile" [checked]="userHasProfile(user, profile)" class="profile-checkboxes"
              (change)="addProfileId($event)">{{ profile.description }}</mat-checkbox>

            </div>
            
          </div>
        </div>
     
        <mat-card>
          <mat-toolbar>
            <div id="toolbar-title">Menu e Permissões</div>
          </mat-toolbar>

          <div>
            <table>
              <th>Menu</th>
              <th *ngFor="let rule2 of rules" [ngStyle]="{'text-align': 'center'}">
                <mat-checkbox (change)="checkallMenu(rule2.id,$event)" >{{rule2.name}}</mat-checkbox>
              </th>
              <tbody id="permission">
                <tr *ngFor="let menu of menus; let i = index">
                  <td id="menu"><mat-checkbox (change)="checkallRule(menu.id,$event)">{{menu.description}}</mat-checkbox></td>
                  <td *ngFor="let rule of menu.rules;" [ngStyle]="{'text-align': 'center'}">                    
                    <mat-checkbox #myCheckbox value="{{ruleMenu(menu.id, rule.id)[0]?.id}}" attr.data-ruleID="{{rule.id}}" 
                    name="{{menu.id}}" (change)="forceRule($event)"[checked]="userHasMenuRule(user, menu.id, rule.id) && 
                    userMenuRule(user.menu_rules, menu.id, rule.id)?.pivot.modification != 'REMOVED'"  
                    ></mat-checkbox> 
                  </td>
                </tr> 
              </tbody> 
            </table>
          </div>
        </mat-card>

        <div  class="form-pattern" [ngClass]="{'hide': !chengePassword}"> 
          <mat-checkbox formControlName="change_password" [required]="show">Solicitar alteração da senha</mat-checkbox> 
        </div>
        <div  class="form-pattern" [ngStyle]="{'line-height': '50px'}">
          <mat-slide-toggle formControlName="is_active" (change)="active($event)">{{status}}</mat-slide-toggle>
        </div>
      
        <mat-dialog-actions class="box-clear">
          <div class="box-left">
            <button mat-raised-button type="submit" color="primary" >{{submitButton}}</button> 
            <a mat-raised-button (click)="clearForm(formDirective)" >Limpar</a>
            <a mat-raised-button routerLink="/main/user">Voltar</a>
          </div>
      
          <div class="box-left" [ngStyle]="{'margin-top': '15px'}">
            **Senhas devem conter no mínimo 8 caracteres, com letras maiúsculas e minúsculas, ao menos um número e um caracter especial.
          </div>
      
          <div class="box-clear"></div>
          <!-- <a mat-raised-button (click)="clearForm($event)">Limpar</a> -->
        </mat-dialog-actions>
      </form>
    </mat-card>
  </div>
  